doctype html
html
  head
  title My Site
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/app.js')/ Hier können weitere Head-Elemente hinzugefügt werden

  body
    include ../public/Includes/HTMLBoilerplate.pug
    include ../public/Includes/Navbar.pug
    include ../public/Includes/WelcomeElement.pug
    include ../public/Includes/OurMission.pug
    include ../public/Includes/Footer.pug

